 
/* Estilo por defecto de las barras */
.bar {
    fill: green;
}

/* Estilo cuando las barras resaltan al pasar el cursor del mouse por encima de la barra */
.highlight {
    fill: orange;
}


/* Estilo de los títulos de los gráficos */
.title {
    fill: teal;
    font-weight: bold;
}

/* Estilo de los td*/
td {        
    text-align: center;
    vertical-align: middle;
}

/* Estilo de las leyendas que se ven en el gráfico de PIE*/
.arc text {
    font: 16px sans-serif;
    font-weight: bold;
    text-anchor: middle;
}

